<div class="accordion" id="accordion--{{ block.id }}">
    {% for section in block.sections %}
        <div class="accordion__section">
            <h4 class="accordion__section__title">
                <a href="#" data-name="toggle-accordion__section--{{ section.id }}" data-kube="toggle" data-target="#accordion__section__content--{{ section.id }}">
                    {{ section.title }}
                </a>
            </h4>
            <div class="accordion__section__content is-hidden" id="accordion__section__content--{{ section.id }}">
                {{ section.content.render|raw }}
            </div>
        </div>
    {% endfor %}

</div>
